{% extends "base.html" %}
{% load static %}

<style>
    img{
        height:100px;
        width:100px;
    }

</style>

{% block content %}

    <h1>About Us</h1>
    {% comment %} <img src="{% static "images/img4.jpg" %}">  {% endcomment %}

    <p>Welcome to our website! We are committed to providing the best services and experiences to our users.</p>
    <p>Our mission is to deliver quality and innovation in everything we do.</p>
    <pradeep>Contact us anytime for more information.</pradeep>

    

{% endblock %}

