{% extends "base.html" %}
{% load static %}

{% comment %} {% block title %}
 About us
{% end block %} {% endcomment %}

{% block content %}

    <h1>About Us</h1>
    {% comment %} <img src="{% static "images/img.jpg" %}" {% endcomment %}
    <p>Welcome to our website! We are committed to providing the best services and experiences to our users.</p>
    <p>Our mission is to deliver quality and innovation in everything we do.</p>
    <p>Contact us anytime for more information.</p>


{% endblock %}