<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

{% include "partial/navbar.html" %}

{% block content %}

{% comment %} Page Content {% endcomment %}

{% endblock %}

<!-- footer.html -->
<footer style="background-color: #f1f1f1; padding: 20px; text-align: center;">
    <div>
        <p>&copy; 2025 Your Company Name. All rights reserved.</p>
    </div>
    <div>
        <a href="">About Us</a> |
        <a href="">Contact</a> |
        <a href="">Privacy Policy</a>
    </div>
    <div style="margin-top: 10px;">
        <a href="" target="_blank">Facebook</a> |
        <a href="" target="_blank">Twitter</a> |
        <a href="" target="_blank">Instagram</a>
    </div>
</footer>


</body>
</html>