{% extends "base.html" %}
{% comment %} templates/category_products.html  {% endcomment %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block content %}

<h1>{{ category.Category_name}}</h1>

<div class="categories-electronics" style="margin-top: 40px; display: flex; flex-wrap: wrap; gap: 100px; justify-content: center;">
{% for i in products_variable %}
 
  <div style="max-width: 250px; border: 1px solid #ccc; margin: 0 0 0 50px; border-radius: 10px; padding: 15px; text-align: center;">
    <img src="{{ i.product_image.url}}" alt="Iphone" style="width: 100%; border-radius: 10px;">
    <h4 style="margin-top: 10px;">{{i.product_name}}</h4>
    <h4 style="margin-top: 10px">{{i.original_price}}</h4>
    <h4 style="margin-top: 10px">{{i.selling_price}}</h4>
    <a href="{% url 'add_to_cart' i.id %}" style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Add to Cart</a>
    

    <a href="{% url 'add_to_wishlist' i.id %}" style="padding: 8px 12px; background-color: #007bff; margin-top: 10px; color: white; border: none; border-radius: 5px;">Add to Wishlist</a>
     

  </div>

  {% endfor%}

</div>

{% endblock %}